  /* *{outline: 1px solid red;} */
body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-image: linear-gradient(to right,purple,rgb(46, 46, 249));
    height: 430px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    /* gap: 30px 0px; */
}
h1{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    animation: abbos 3s  linear;
}
@keyframes abbos {
    0%{opacity: 0;}
    100%{opacity: 100;}
}
header p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    animation: abbos 3s  linear;
}
@keyframes abbos {
    0%{opacity: 0;}
    100%{opacity: 100;}
}
nav{
   width: 500px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
button{
    height: 35px;
    width: 140px;
    color: rgb(0, 0, 0);
    background-color: rgb(234, 205, 40);
    border-radius: 8px;
}
main{
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    /* gap: 40px; */
    align-items: center;
}
img{
    width: 540px;
    height: 400px;
    border-radius: 19px;
}
main div{
    width: 570px;
}
section{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 239, 239);
    padding: 90px 0px;
}
.conteyner{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.conteyner h2{
    width: 100%;
}
.conteyner div{
    width: 450px;
    height: 160px;
    background-color: white;
    text-align: center;
    align-content: center;
    margin: 10px;
    box-shadow: 0px 0px 10px 5px rgb(226, 226, 226);
    border-radius: 10px;
} 
.Box{
      font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: white;
}
.Box h2{
    width: 100%;
}
.Box div{
    width: 450px;
    height: 160px;
    background-color: white;
    padding: 10px;
    align-content: center;
    margin: 10px;
    box-shadow: 0px 0px 10px 5px rgb(226, 226, 226);
    border-radius: 10px;
} 

.box2{
      font-size: 15px;
    background-color: rgb(239, 239, 239);
}
.box2 h2{
    width: 100%;
}
.box2 div{
    width: 450px;
    height: 160px;
    background-color: white;
    padding: 10px;
    align-content: center;
    margin: 10px;
    box-shadow: 0px 0px 10px 5px rgb(226, 226, 226);
    border-radius: 10px;
    
} 
article{
    display: grid;
    /* justify-content: center;
    align-items: center; */
      grid-template-columns: auto auto auto auto auto auto;
    overflow-x: scroll ;
}