  *{outline: 1px solid red;}
body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-image: linear-gradient(to right,purple,rgb(46, 46, 249));
    height: 430px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    /* gap: 30px 0px; */
}
header nav a{
    color: white;
    text-decoration: none;
}
h1{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    animation: abbos 3s  linear;
}
@keyframes abbos {
    0%{opacity: 0;}
    100%{opacity: 100;}
}
header p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    animation: abbos 3s  linear;
}
@keyframes abbos {
    0%{opacity: 0;}
    100%{opacity: 100;}
}
h2{
    text-align: center;
}
nav{
   width: 500px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
button{
    height: 35px;
    width: 140px;
    color: rgb(0, 0, 0);
    background-color: aqua;
    border-radius: 8px;
}
main{
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    /* gap: 40px; */
    align-items: center;
}
img{
    width: 540px;
    height: 400px;
    border-radius: 19px;
}
main div{
    width: 570px;
}
section{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 239, 239);
    padding: 90px 0px;
}
.conteyner{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.conteyner h2{
    width: 100%;
}
.conteyner div{
    width: 450px;
    height: 160px;
    background-color: white;
    text-align: center;
    align-content: center;
    margin: 10px;
    box-shadow: 0px 0px 10px 5px rgb(226, 226, 226);
    border-radius: 10px;
} 
.Box{
      font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: white;
}
.Box h2{
    width: 100%;
}
.Box div{
    width: 450px;
    height: 160px;
    background-color: white;
    padding: 10px;
    align-content: center;
    margin: 10px;
    box-shadow: 0px 0px 10px 5px rgb(226, 226, 226);
    border-radius: 10px;
} 

.box2{
      font-size: 15px;
    background-color: rgb(239, 239, 239);
}
.box2 h2{
    width: 100%;
}
.box2 div{
    width: 450px;
    height: 160px;
    background-color: white;
    padding: 10px;
    align-content: center;
    margin: 10px;
    box-shadow: 0px 0px 10px 5px rgb(226, 226, 226);
    border-radius: 10px;
    
} 
article{
    display: grid;
    /* justify-content: center;
    align-items: center; */
      grid-template-columns: auto auto auto auto auto auto;
    overflow-x: scroll ;
}
.box3{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.box3 h2{
    width: 100%;
}
.box3 div{
    width: 450px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    margin: 10px;
    box-shadow: 0px 0px 10px 5px rgb(226, 226, 226);
    border-radius: 10px;
    padding: 10px;

} 
.box3 button{
    background-color: aqua;
    height: 30px;
    width: 70px;
    border: 0px;
}
.box3 p{
    font-size: 30px;
    color: rgb(0, 102, 255);
}
.box3{
    background-color: rgb(255, 255, 255);
}
.box4{
    font-size: 15px;
    text-align: center;
}
.box4 h2{
    width: 100%;
}
.box4 button{
    background-color: aqua;
    border: 0px;
    cursor: pointer;
}
.box4{
    background-color: rgb(255, 255, 255);
}
.box4 input{
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    width: 600px;
    height: 30px;
    border: 1px solid rgba(231, 231, 231, 0.927);
}
.box4 select{
    width: 605px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;
    border-color: rgba(231, 231, 231, 0.927);
}
footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 25, 25, 0.809);
    margin: auto;
    color: rgb(255, 255, 255);
}
button:hover{
    background-color: rgba(135, 7, 233, 0.705);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}
button:active{
   background-color: aqua ;
    color: rgba(135, 7, 233, 0.705);
}
@media  screen and ( max-width:770px) {
   main{
   flex-wrap: wrap;
   height: initial;
   padding: 10px 0px;
}
}