  *{outline: 1px solid red;}
body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-image: linear-gradient(to right,purple,blue);
    height: 430px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    /* gap: 30px 0px; */
}
h1{
    width: 100%;
    text-align: center;
    margin-top: 80px;
}
p{
    width: 100%;
    text-align: center;
}
nav{
   width: 500px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
button{
    height: 35px;
    width: 140px;
    color: rgb(0, 0, 0);
    background-color: rgb(234, 205, 40);
    border-radius: 8px;
}